<div class="all-posts">
    <% locals.allPosts.map((post) => { %>
        <% console.log(locals.user.member) %>
        <div class="post">
            <div class="post-header">
                <div class="logo" style="background-color: <%= post.icon_color %> "><%= post.username[0].toUpperCase() %></div>
                <div class="post-details">
                    <div class="name"><%= locals.user.member === false ? '***** ***' : 'post.username' %></div>
                    <div class="post-when"><%= locals.user.member === false ? '** **** ago' : 'post.displayDate' %></div>
                    <% if (locals.user.member === false) { %>
                        <span class="hidden"><a href=""><strong>Become a member</strong></a>&nbsp;to see the username and other details</span>
                    <% } %>
                </div>
            </div>
            <div class="post-text">
                <h3 class="post-heading">
                    <%= post.title %>
                </h3>
                <div class="post-body">
                    <%= post.content %>
                </div>
            </div>
        </div>
    <% }) %>
</div>