<div class="all-posts">
    <% if (!locals.user) { %> 
        <div class="sign-up-please"><a href="/signup">Sign Up</a> to Create a New Post</div>
    <% } %>
    <% locals.allPosts.map((post) => { %>
        <div class="post">
            <div class="post-header">
                <div class="logo" style="background-color: <%= post.icon_color %> "><%= post.username[0].toUpperCase() %></div>
                <%- (!locals.user || locals.user.member === false) && (locals.user) ? '<div class="post-details">' : '<div class="post-details is-member">' %>
                    <div class="name"><%=  !locals.user ||  locals.user.member === false ? '***** ***' : post.username %></div>
                    <div class="post-when"><%=  !locals.user ||  locals.user.member === false ? '** **** ago' : post.displayDate %></div>
                    <% if ( (!locals.user ||  locals.user.member === false) && (locals.user)) { %>
                        <span class="hidden"><a href="/join-membership"><strong>Become a member</strong></a>&nbsp;to see the username and other details</span>
                    <% } %>
                </div>
            </div>
            <div class="post-text">
                <h3 class="post-heading">
                    <%= post.title %>
                </h3>
                <div class="post-body">
                    <%= post.content %>
                </div>
            </div>
        </div>
    <% }) %>
</div>